extends <%= masterSlug %>

block content
  // do whatever you like here !
  #page-layout
    h1
      // SPM:<WebControls:TextField FieldName="Title" runat="server" ControlMode="Display">
    p Page Layout Content

block edit-mode-panel
  // SPM:<WebControls:TextField FieldName="Title" runat="server">
