$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import 'sass-bootstrap/lib/bootstrap';

#header, #footer, #page-layout {
  border: 3px solid black;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  margin: 0 0 20px 0;

  color: white;
  background: rgb(0, 114, 198);
}

#page-layout {
  color: black;
  background: rgba(239, 239, 239, 0.780392);
}

.page-header{
  height:300px;
  margin-bottom: 20px;
}
